@page
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4 mb-5">About</h1>

    <div class="card custom-card mw-md mx-auto mb-4">
        <div class="card-header slim-card-edge"></div>
        <div class="card-body text-center">
            <p>
                This project was created as a demo of <span class="badge custom-text-green">ASP.NET</span> &
                <span class="badge custom-text-green">Entity Framework</span> on
                <span class="badge custom-text-green">.NET Core 2.2</span> for a 
                <span class="badge custom-text-orange">3 ECTS fundamentals of C#</span> course.
            </p>
        </div>
        <div class="card-footer slim-card-edge"></div>
    </div>
</div>