@page
@model IndexModel
@{
    ViewData["Title"] = "BattleShips";
}

<div class="text-center">
    <h1 class="display-1 mb-5">BattleShips</h1>
    
    <div class="d-flex justify-content-center">
        <a href="Game/New" class="btn btn-lg mx-1 btn-primary">New game</a>
        <a href="Game/List" class="btn btn-lg mx-1 btn-secondary">List games</a>
    </div>
</div>
