@page
@using Domain
@model CreatePlayersModel
@{
    ViewData["Title"] = "Create game";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Create players</h1>
    <div class="card custom-card mw-md mx-auto mb-4">
        <div class="card-header slim-card-edge"></div>
        <div class="card-body justify-content-center">

            @if (Model.IsInvalidAccess) {
                <partial name="_NotAllowed"/>
            } else {
                <form method="POST" class="form-group mb-0">
                    <div class="row">
                        @for (int j = 0; j < GameSystem.ActiveGame.GetRuleVal(RuleType.PlayerCount); j++) {
                            var player = j < GameSystem.ActiveGame.Players?.Count ? GameSystem.ActiveGame.Players[j] : null;

                            <div class="col-6 mb-2">
                                <input type="text" class="form-control" name="name-@j" placeholder="Player @j's name" value="@player?.Name">
                            </div>
                        }
                    </div>
                    <small class="form-text text-muted mb-3">We'll never share your data with anyone else.</small>


                    @if (Model.IsStatus) {
                        if (Model.IsError) {
                            <div class="custom-text-red mb-2">@Model.StatusMsg</div>
                        } else {
                            <div class="custom-text-green mb-2">@Model.StatusMsg</div>
                        }

                        <a href="Rules?persist" class="btn btn-outline-secondary">Back</a>
                        <button type="submit" class="btn btn-outline-warning">Recreate</button>

                        if (!Model.IsError) {
                            <a href="CreateShips?player=0&askAutoPlace" class="btn btn-outline-success">Continue</a>
                        }
                    } else {
                        <a href="Rules?persist" class="btn btn-outline-secondary">Back</a>
                        <button type="submit" class="btn btn-outline-success">Create players</button>
                    }
                </form>
            }
        </div>
        <div class="card-footer slim-card-edge"></div>
    </div>

</div>