@page
@using SaveSystem
@model ListModel
@{
    ViewData["Title"] = "Game list";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Game list</h1>
    <div class="card custom-card mw-md mx-auto mb-4">
        <div class="card-header slim-card-edge"></div>
        <div class="card-body data-table">
            <table class="table mb-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Last played</th>
                    <th scope="col">Turn count</th>
                    <th scope="col">Load</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var counter = 1;
                    foreach (var rowData in GameSaver.GetSaveGameList()) {
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>
                                @rowData[2]
                            </td>
                            <td>
                                @rowData[1]
                            </td>
                            <td><a href='?action=load&id=@rowData[0]' class='btn btn-sm btn-outline-success'>○</a></td>
                            <td><a href='?action=delete&id=@rowData[0]' class='btn btn-sm btn-outline-danger'>✕</a></td>
                        </tr>
                
                        counter++;
                    }
                }
                </tbody>
            </table>
            <a href="/" class="btn btn-outline-secondary">Go back</a>
        </div>
        <div class="card-footer slim-card-edge"></div>
    </div>
</div>