@page
@{
    ViewData["Title"] = "Create game";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Creating a new game</h1>
    
    <div class="card custom-card mw-md mx-auto mb-4">
        <div class="card-header slim-card-edge"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 justify-content-center">
                    <a href="CreatePlayers" class="btn mx-1 btn-outline-success">Start game</a>
                </div>
                <div class="col-6 justify-content-center">
                    <a href="Rules" class="btn mx-1 btn-outline-secondary">Change rules</a>
                </div>
            </div>
        </div>
        <div class="card-footer slim-card-edge"></div>
    </div>
</div>