@page
@{
    ViewData["Title"] = "Create game";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Creating a new game</h1>
    
    <div class="d-flex justify-content-center">
        <a href="Start" class="btn btn-lg mx-1 btn-primary">Start game</a>
        <a href="Rules" class="btn btn-lg mx-1 btn-secondary">Change rules</a>
    </div>
</div>